.chat-main
  .chat-main__group
    .chat-main__group--info
      .chat-main__group--info__left
        = @group.name
      .chat-main__group--info__bottom
        Member : 
        - @group.users.each do |user|
          =user.name
    .chat-main__group--right
      = link_to edit_group_path(@group), class: "edit__btn" do
        edit

  .chat-main__messages-list
    = render @messages

  = form_for [@group, @message], html: {class: "chat-main__messages-form"} do |f|
    .chat-main__messages-form--left
      .chat-main__messages-form--left__text
        = f.text_field :content, class: 'textarea', placeholder: 'type a message'
      .chat-main__messages-form--left__image
        = f.label :image, class: 'image__btn' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'btn'
    = f.submit 'Send', class: 'chat-main__messages-form--right'
    
