.side-ber
  .side-ber__user-name
    .side-ber__user-name--box 
      %p.name 
        = current_user.name
      .side-ber__user-name--box__right
        .side-ber__user-name--box__right-icon
          = link_to new_group_path, class: "edit__btn" do
            = icon('fas', 'edit')
            %span<>
          = link_to edit_user_path(current_user), class: "user-edit__btn" do
            = icon('fas', 'cog')
            %span<>

  .side-ber__group-list
    - current_user.groups.each do |group|
      .side-ber__group-list__block
        = link_to group_messages_path(group), class: "group" do
          = group.name
        = link_to group_messages_path(group), class: "commnet" do
          = group.show_last_message
   

